  
<!-- <table id="example" class="table table-striped" style="width:100%" *ngIf='merged && merged.length; else norequest'>
       <thead>
    <tr>
      <th scope="col">Sr.No</th>
      <th scope="col">TrainingName</th>
      <th scope="col">TutorName</th>
      <th scope="col">Request Date</th>
      
    </tr>
  </thead>
    <tbody >
    
      
            <tr *ngFor='let i of merged; let j=index'>
                <td>{{j+1}}</td>
                <td>{{i.trainingName}}</td>
                <td>{{i.firstName}}  {{i.lastName}}</td>
                <td>{{i.raisedOn | date:'MM/dd/yyyy'}}</td>
                    </tr>

    
 

    
      </tbody>  
    </table>
   <ng-template #norequest>
        <h4 [ngStyle]="{'background-color': 'lightgrey','color':'#CC313D','text-align':'center'}">  No Requests  Available !!!</h4>
      </ng-template> -->


      <div class="mat-elevation-z8"> 
    <mat-table [dataSource]="merged" matSort> 
      <ng-container matColumnDef="sn">
    <mat-header-cell *matHeaderCellDef mat-sort-header> SN. </mat-header-cell>
    <mat-cell *matCellDef="let element;let i=index">{{ i + 1 }}</mat-cell>
  </ng-container>
        <ng-container matColumnDef="TrainingName"> 
            <mat-header-cell *matHeaderCellDef mat-sort-header>Training Name</mat-header-cell> 
            <mat-cell *matCellDef="let element">{{element.trainingName}}</mat-cell> 
        </ng-container> 
        <ng-container matColumnDef="TutorName"> 
            <mat-header-cell *matHeaderCellDef>Tutor Name</mat-header-cell> 
            <mat-cell *matCellDef="let element">{{element.firstName}}  {{element.lastName}}</mat-cell> 
        </ng-container> 
        <ng-container matColumnDef="RequestDate"> 
            <mat-header-cell *matHeaderCellDef>Request Date</mat-header-cell> 
            <mat-cell *matCellDef="let element">{{element.raisedOn | date}}</mat-cell> 
        </ng-container> 
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> 
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
        
    </mat-table> 
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons> 
    </mat-paginator> 
</div>
  