<hr> 
 
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()"> 
    <mat-card class="example-card text-center" style=" margin-top: 10vh;margin-left: 10vh;margin-right: 10vh;max-width: 200vh;"> 
        <mat-card-header style="margin-left:75vh"> 
 
        </mat-card-header> 
        <mat-card-content> 
            <input type="hidden" formControlName="rating" [ngModel]="selectedValue"> 
            <p>Rate this Course</p> 
            <ul id="rating" class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block"> 
                <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}"> 
                    <i class="fa fa-star"></i> 
                </li> 
            </ul> 
            <div class="form-group"> 
                <label>Feedback</label> 
                <input type="text" formControlName="feedback" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.feedback.errors }" [ngModel]="feedback.remarks" /> 
                <div *ngIf="submitted && f.feedback.errors" class="text-danger"> 
                    Write your feedback 
                </div> 
            </div> 
 
            <button type="submit" class="btn btn-primary">Submit</button> 
 
        </mat-card-content> 
        <mat-card-actions> 
            <!-- <button mat-raised-button color="primary" type="submit" (click)="sendFeedBack()">Submit</button> --> 
        </mat-card-actions> 
    </mat-card> 
</form>