
<!-- <h2> Student List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Sr.No</th>
            <th> Name </th>
            <th> Email</th>
            <th> Mobile</th>
      
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of studentList; let j= index" >
            <td> {{j+1}} </td>
            <td> {{  user.firstName }} {{  user.lastName }} </td>
            <td> {{  user.email }} </td>
            <td> {{  user.mobile }} </td>
        </tr>
    </tbody>
</table> -->

<div class="mat-elevation-z8"> 
    <mat-table [dataSource]="studentList" matSort> 
      <ng-container matColumnDef="sn">
    <mat-header-cell *matHeaderCellDef mat-sort-header> SN. </mat-header-cell>
    <mat-cell *matCellDef="let element;let i=index">{{ i + 1 }}</mat-cell>
  </ng-container>
        <ng-container matColumnDef="Name"> 
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell> 
            <mat-cell *matCellDef="let element">{{element.firstName}}  {{  element.lastName }}</mat-cell> 
        </ng-container> 
        <ng-container matColumnDef="Email"> 
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell> 
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell> 
        </ng-container> 
        <ng-container matColumnDef="Mobile"> 
            <mat-header-cell *matHeaderCellDef>Mobile</mat-header-cell> 
            <mat-cell *matCellDef="let element">{{element.mobile}}</mat-cell> 
        </ng-container> 
         
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> 
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
        
    </mat-table> 
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons> 
    </mat-paginator> 
</div>


